In [ ]:
#1

a, b, c = 2, 3, -1
z = a * a + b - c
print(z)

8

In [ ]:
#2

nama = "Rayyan Binar"
Age = 18
print(f"Nama saya {nama}")
print(f"Usia saya {Age} tahun")

Nama saya Rayyan Binar
Usia saya 18 tahun

In [ ]:
#3

apel, jeruk, anggur = 6000, 2000, 1000
total = apel*3 + jeruk + anggur*2
print(f"Total Belanjaan : {total}")

Total Belanjaan : 22000

In [ ]:
#4

mangga, melon, anggur = 3000, 10000, 3000
uangAbdan = 20000
total = mangga*2 + melon + anggur*3
kembalian = uangAbdan - total
print(f"Kembalian : {abs(kembalian)}")

Kembalian : 5000

In [ ]:
#5

A, N = map(int, input().split())
total = A * N
print(total)

5 5000
25000

In [ ]:
#6

a = int(input())
c = int(input())
b = int(c/a)
print(b)

2
3
1

In [ ]:
#7

a, c, d = map(int, input().split())
b = int((c + d) / a)
print(b)

2 5 1
3

In [ ]:
#8
#abdan = a, kevin = b, arya = c, albert = d

def transfer(x, y, hadiah):
  hadiah[y] += hadiah[x]
  hadiah[x] = 0
  return hadiah

a, b, c, d = map(int, input().split())
hadiah = [a, b, c, d]

transfer(0, 2, hadiah)
transfer(3, 0, hadiah)
transfer(1, 0, hadiah)
transfer(0, 3, hadiah)
transfer(3, 2, hadiah)

print(*hadiah)

4 5 1 7
0 0 17 0

In [ ]:
#9

a, b = map(int, input().split())
c, d = map(int, input().split())

a += c
b += d
hasil = list([a,b])

print(*hasil[::-1])

1 2
2 0
2 3

In [ ]:
def update(a, b, c, d):
  a += c
  b += d
  a, b = b, a
  b -= a
  a = c // a
  b = b * a
  return a, b


a, b = map(int, input().split())
c, d = map(int, input().split())

a, b = update(a, b, c, d)
print(a, b)

1 2
2 0
1 1

In [ ]:
a = int(input())
if a > 4:
  print("HUJANDERAS")
else:
  print("PANAS")

In [ ]:
a = int(input())
if a - 3 > 1:
  print("HUJANDERAS")
else:
  print("PANAS")

5
HUJANDERAS

In [ ]:
a = int(input())
if a % 5 == 2:
  print("HUJANDERAS")
else:
  print("PANAS")

7
HUJANDERAS

In [ ]:
n = list(map(int, input().split()))
if n[0] % n[1] == 0:
  print("BISA")
else:
  print("MAAF")

5 3
MAAF

In [ ]:
x, y, z = map(int, input().split())
if (x + z) % y == 0:
  print("BISA")
else:
  print("MAAF")

4 2 1
MAAF

In [ ]:
S = input()
if S == "kevin":
  print(f"nama saya {S}")
else:
  print(f"nama saya kevin, bukan {S}")

dani
nama saya kevin, bukan dani

In [ ]:
n, m = map(int, input().split())
if n > m:
  print("Kevin")
elif n < m:
  print("Abdan")
else:
  print("seri")

3 3
seri

In [ ]:
n = int(input())
if n >= 100 and n < 1000:
  print("ya")
else:
  print("tidak")

999
ya

In [ ]:
x = int(input())
while x < 1000:
  if 0 < x < 10:
    print("satuan")
    break
  elif 10 <= x < 100:
    print("puluhan")
    break
  else:
    print("ratusan")
    break
else:
  print("lebih dari ratusan")

1052
lebih dari ratusan

In [ ]:
n = int(input())
if n < 899:
  print("Bronze")
elif 899 < n < 1097:
  print("Warrior")
elif 1098 < n < 3500:
  print("Mythic")
elif 3501 < n < 4307:
  print("Legend")
else:
  print("Epic")

695
Bronze

In [ ]:
N = list(map(int, input().split()))
x, y = map(int, input().split())

N[y] += N[x]
print(N[y])

0 1 1 2 1
1 2
2

In [ ]:
N = int(input())
for i in range(1, N + 1):
  for j in range(1, i + 1):
    print(j)

3
1
1 2
1 2 3

In [ ]:
N = int(input())
for i in range(1, N + 1):
  for j in range(1, i + 1):
    print("#", end="")
  print()

3
#
##
###

In [ ]:
N = int(input())
for i in range(1, N + 1):
  for j in range(1, i + 1):
    print(j, end="")
  print()

3
1
12
123

In [ ]:
N = int(input())
for i in range(1, N + 1):
  for j in range(i, 0, -1):
    print(j, end="")
  print()

3
1
21
321

In [ ]:
N = int(input())
for i in range(N, 0, -1):
  for j in range(i, 0, -1):
    print(j, end="")
  print()

3
321
21
1

In [ ]:
n = int(input())
if n % 2 == 0:
  total = n * 0.5
  print(total)
elif n % 2 != 0:
  total = n * 0.75
  print(total)

In [ ]:
n = int(input())
if n <= 0:
    print("")
else:
  pat = "##**"
  result = pat[:min(n, 4)]
  sisa = n - len(result)
  for i in range(sisa):
      if i % 2 == 0:
          result += "#"
      else:
          result += "*"
  print(result)

7
##**#*#

In [ ]:
n = int(input())
pattern = "##**"
result = ""
for i in range(n):
  result += pattern[i % len(pattern)]
print(result)

15
##**##**##**##*

In [ ]:
n, m = map(int, input().split())
pattern = "**##"
for i in range(n):
  result = ""
  for j in range(m):
    if i % 2 == 0:
      result += pattern[j % 4]
    else:
      result += pattern[(j + 2) % 4]
  print(result)

3 6
**##**
##**##
**##**

In [ ]:
n = int(input())
result = ""
for i in range(n):
  if n % 2 == 0:
    pattern = "*#"
    result += pattern[i % 2]
  else:
    pattern = "#*"
    result += pattern[i % 2]
print(result)

6
*#*#*#

In [ ]:
n, m = map(int, input().split())
pattern = "#*"
for i in range(n):
  result = ""
  for j in range (m):
    if i % 2 == 0:
      result += pattern[j % 2]
    else:
      result += pattern[(j + 1) % 2]
  print(result)

3 6
#*#*#*
*#*#*#
#*#*#*